<%- include('assets/top') %>

<h2>Products</h2>

<div class="products">
    <% for(const prod of products) { %>
    <div class="card">
        <img src="<%= prod.image %>" alt="<%= prod.name %>" class="card-img">
        <div class="card-elements">
            <p class="card-title"><%= prod.name %></p>
            <p class="card-price"><%= prod.price %></p>
            <button class="card-add">+</button>
        </div>
    </div>
    <% } %>
</div>

<%- include('assets/bottom') %>